@use "./fonts/fonts";

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  border-left: 2px solid red;
  border-right: 2px solid red;
}
.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 28px;
}
.menu__list-link {
  font-size: 14px;
  color: #fff;
}
.order-btn {
  background-color: #f6762c;
  color: #fff;
  padding: 15px 37px;
  border-radius: 5px;
  text-transform: uppercase;
}
.hero {
  background-image: url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
//   height: 100vh;
//   .hero-bg {
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//   }
}
.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 555px;
  padding-top: 286px;
    padding-bottom: 232px;
  span {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }
  .hero__title {
    font-size: 57px;
    font-weight: 500;
    margin-bottom: 37px;
  }
  .hero__subtitle {
    margin-bottom: 42px;
    max-width: 523px;
    font-size: 18px;
  }
  .order-btn {
    align-self: flex-start;
  }
}
.food {
  background-color: #1c1c1c;
  padding: 115px 0 102px;
}
.food__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.food__list-item {
  text-align: center;
  background-color: #312f30;
  border-radius: 10px;
  img {
    max-width: 262px;
    max-height: 175px;
  }
  h4 {
    margin-top: 28px;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 500;
  }
  p {
    margin-bottom: 30px;
  }
}
.order {
  background-color: #312f30;
  padding: 77px 0 60px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.order__content {
  max-width: 371px;
  margin-right: 90px;
  .order__title {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .order__subtitle {
    margin-bottom: 13px;
  }
  b {
    font-size: 20px;
    font-weight: 500;
    color: #f6762c;
    margin-bottom: 11px;
    display: block;
    span {
      font-size: 16px;
      font-weight: 400;
      margin-left: 3px;
      text-decoration: line-through;
      color: #94532e;
    }
  }
  .order-btn {
    display: inline-block;
  }
}

@media (hover: hover) and (pointer: fine) {
}